[Unit]
Description=Snitchwatch bridge GUI WebSocket socket
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Socket]
ListenStream=/run/snitchwatch/bridge.sock
SocketUser=root
SocketGroup=snitchwatch-ui
SocketMode=0660
FileDescriptorName=gui
Service=snitchwatch-system-bridge.service
Accept=no

[Install]
WantedBy=sockets.target

